body{
	background-color: #F15A29;

}
.head{
	background-image: url(../image/backgrounds/landing.jpg);
	float:center;
	color:white;
    font-family: sans-serif;
    font-size: 20px;
     text-align:center;
}     

 background-image: url(../image/backgrounds/foodsBg.jpg);
    margin-top: 100px;
    text-align: center;
    height: 450px;
    height: 500px;
    position: relative;
   margin-bottom: 150px;
  }
  .redish{
    color: red;
 @@ -167,10 +168,14 @@ i {
   text-align: center;
   border: 2px solid gray;
   border-radius: 5px;
   margin-top: 80px;
   margin-top: 70px;
   margin-bottom: 80px;
   margin-right: 100px;
   margin-left: 100px;
   margin-left: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
 
 
  }
  #h{
    color: red;
 @@ -182,10 +187,15 @@ i {
    background-image: url(../image/backgrounds/subscribe.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
 
    padding-top: 70px;
    padding-bottom: 70px;
  
  }
  
 .btn-anita{
  background: #F15A29;
   width: 150px;
 }
  
  
   .customers  i .left .right{
 @@ -196,16 +206,19 @@ i {
     padding: 4px;
  
   }
 .footer{
  color: white;
   background: #F15A29;
   text-align: center;
   padding-top: 80px;
   padding-bottom: 80px;
 
 }
 
 sub-footer{
   float: bottom;
  
#subscribe {
 background-image: url(../image/backgrounds/subscribe.jpg);
 margin-top: 50px;
 height: 300px;
 color: white;
 align-content: center;
  }
 {
   color: red;
  }
  #sidebar{
  position: fixed;
 @@ -232,7 +245,7 @@ left: 230px;
  top: 20px;
  }
  
 -#sidebar .toggle-btn span {
 +#sidebar .toggle-btn span{
  display: block;
  width: 30px;
  height: 5px;